<h2 mat-dialog-title>Update - {{ className }}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Class Name" value="{{ className }}" formControlName="className">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Class Code" value='{{ classCode }}' formControlName="classCode">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    Close
  </button>
  <button class="mat-raised-button mat-primary" (click)="save()">
    Save
  </button>
</mat-dialog-actions>