<!-- https://stackblitz.com/edit/material-time-control?file=src%2Fmaterial-time-control.module.ts -->

<div class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'">
  <div fxFlex class="form-component-holder mat-elevation-z4">
    <mat-toolbar class="form-header">
      <h1 class="mat-headline center-align">Define Class Period</h1>
    </mat-toolbar>

    <form (ngSubmit)="addClassPeriod()" #addClassPeriodForm='ngForm'>
      <div class="form-fields" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
        <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="model.classPeriodName" name="classPeriodName" #classPeriodName="ngModel"
              required minlength="4" maxlength="50" placeholder="Class Period Name">
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="model.classPeriodFrom" name="classPeriodFrom" #classPeriodFrom="ngModel"
              required minlength="5" maxlength="5" placeholder="Class Period From">
          </mat-form-field>
        </div>
        <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="model.classPeriodTo" name="classPeriodTo" #classPeriodTo="ngModel"
              required minlength="5" maxlength="5" placeholder="Class Period To">
          </mat-form-field>
        </div>
      </div>
      <div class="buttonDiv">
        <button mat-raised-button type="submit" [disabled]="classPeriodName.invalid||classPeriodFrom.invalid||classPeriodTo.invalid"
          class="mat-subheading-2 center-align button-style">Add
          Class Period</button>
      </div>
    </form>

  </div>

  <!-- Table below class="components-container-gt-xs" -->
  <div fxLayout="column" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
      <div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Class and Subject">
        </mat-form-field>

        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Sr No.</strong> </th>
              <td mat-cell *matCellDef="let row"> {{row.id}}. </td>
            </ng-container>

            <!-- Class Period Name Column -->
            <ng-container matColumnDef="classPeriodName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Class Period Name</th>
              <td mat-cell *matCellDef="let row"> {{row.classPeriodName}} </td>
            </ng-container>

            <!-- Period From Column -->
            <ng-container matColumnDef="classPeriodFrom">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Period From</th>
              <td mat-cell *matCellDef="let row"> {{row.classPeriodFrom}} </td>
            </ng-container>

            <!-- Period To Column -->
            <ng-container matColumnDef="classPeriodTo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Period To</th>
              <td mat-cell *matCellDef="let row"> {{row.classPeriodTo}} </td>
            </ng-container>

            <!-- createDate Column -->
            <ng-container matColumnDef="createDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Create/Update Date </th>
              <td mat-cell *matCellDef="let row"> {{row.createDate | date: 'dd-MM-yyyy HH:mm:ss' }} </td>
            </ng-container>

            <!-- createBy Column -->
            <ng-container matColumnDef="createBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
              <td mat-cell *matCellDef="let row"> {{row.createBy}} </td>
            </ng-container>

            <!-- Edit column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> Edit </th>
              <td mat-cell *matCellDef="let row" (click)="openEditClassPeriodDialog(row)">
                <mat-icon class="actionEdit">edit</mat-icon>
              </td>
            </ng-container>
            <!-- Delete column -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let row" (click)="openDeleteClassPeriodDialog(row)">
                <mat-icon class="actionDelete">delete_forever</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
