/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

/* Edit and delete icon style start */
.actionEdit:hover {
    cursor: pointer;
    color: rgb(100, 136, 237);
}

.actionDelete:hover {
    cursor: pointer;
    color: rgb(237, 121, 100);
}
/* Edit and delete icon style end */

.form-header {
	background-color: #327ebd;
	color: white;
	padding: 0 5px;
}
.mat-form-field{
	padding-left:10px;
}
.container{
	padding-left:10px;
	padding-right:10px;
}
.form-container {
	padding: 5px 15px 15px 15px;
}
.form-component-holder {
	border: 1px solid #327ebd;
	background-color: white;
}
.buttonDiv {
	text-align:center;
}
.button-style{
	background-color: #77d3f0;
	font-weight: bold;
	width: 14rem;
}

table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

/* Message display start */
.isa_success {
    color: #4F8A10;
		background-color: #DFF2BF;
		align-content: center;
	}

	.isa_error {
    color: rgb(219, 44, 44);
		background-color: rgb(241, 205, 176);
		align-content: center;
	}

	.isa_success, .isa_error {
		margin: 10px 0px;
		padding:12px;
	}

	.isa_success i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
	}

/* Message display end */

