/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */


/* Edit and delete icon style start */
.actionEdit:hover {
    cursor: pointer;
    color: rgb(100, 136, 237);
}

.actionDelete:hover {
    cursor: pointer;
    color: rgb(237, 121, 100);
}
/* Edit and delete icon style end */

.form-header {
	background-color: #327ebd;
	color: white;
	padding: 0 5px;
}
.mat-form-field{
	padding-left:10px 0 10px 0;
	display: block;
	font-size: 1rem;
	font-family: cursive;
    width: 100%;
}
.container{
	padding-left:10px;
	padding-right:10px;
}
.form-container {
	padding: 5px 15px 15px 15px;
}
.form-component-holder {
	border: 1px solid #327ebd;
	background-color: white;
}
.buttonDiv {
	text-align:right;
	margin-right: 10px;
	margin-bottom: 10px;
}
.button-style{
	background-color: #77d3f0;
	font-weight: bold;
	width: 14rem;
}

table {
    width: 100%;
  }

.mat-table {
    font-family: cursive;
}

.mat-header-cell {
	font-size: 1rem; 
	font-weight: bolder;
	background-color: #327ebd;
	color: white;
}
.mat-sort-header-arrow {
    color: white;
}



